<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">

    <link type="text/css" href="/css/style.css" rel="stylesheet">

</head>
<body>
<p>{{>menu}}</p>
    <h3 class="head">
        <p><br>Your date:
    </h3>

    <div class="information">
        <p>{{yourYear}}-{{yourMonth}}-{{yourDate}}</p>
    </div>

<h3 class="head">
    <p><br>Is your day day off?
</h3>

<div class="information">
        <p>{{answer}}</p>
</div>
    {{>footer}}
</body>
</html>