<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
</head>
<body>
<p>{{>menu}}</p>
<p><h3>Your date:</h3>
<p>{{yourYear}}-{{yourMonth}}-{{yourDate}}</p>
<p><h3>Is your day day off?</h3>
    - {{answer}}
<p>
    {{>footer}}
</body>
</html>