<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
</head>
    <body>
        {{>menu}}
        <p><h1>{{main}}</h1></p>
        <p><h3>{{information}}</h3></p>
        <p>{{lab1}}</p>
        <p>{{lab2}}</p>
        <p>{{lab3}}</p>
        {{>footer}}
    </body>
</html>