<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8-8">

    <link type="text/css" href="/css/style.css" rel="stylesheet">

</head>
    <body>

        {{>menu}}
        <div class="header">
            <br><p>{{information}}</p>
        </div>
        <div class="content">
            <br><p>{{lab1}}</p>
            <br><p>{{lab2}}</p>
            <br><p>{{lab3}}</p>
        </div>

        {{>footer}}

    </body>
</html>