<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8-8">

    <link type="text/css" href="/css/style.css" rel="stylesheet">

</head>
    <body>

        {{>menu}}
        <h3 class="head">
            <br><p>{{information}}</p>
        </h3>
        <div class="info">
        <div class="info_1">
            <p>{{lab1}} </p>
        </div>
        <div class="info_2">
            <p>{{lab2}}  </p>
        </div>
        <div class="info_3">
            <p>{{lab3}}</p>
        </div></div>

        <div class="link"><a href="/api/LukinaValeria/lab1/2_Input" class="d">Task 1</a>
            <br><p><a href="/api/LukinaValeria/lab1/1_Input" class="d">Task 2</a>
            <br><p><a href="/api/LukinaValeria/lab1/3_Input" class="d">Task 3</a></p></div>
        {{>footer}}

    </body>
</html>